@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@theme{
  --color-primary: #ff0095;
  --color-primary-dull: #ff24a4;
}